<!DOCTYPE html>
<html dir="ltr" lang="pt-BR">
  <head>
    <!-- Document Meta-->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- IE Compatibility Meta-->
    <meta name="author" content="zytheme"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="description" content="Multi-purpose Business html5 landing page"/>
    <link href="{{ url_for('static', filename='images/favicon/favicon_100_100_remessa.png')}}" rel="icon"/>
    <!--  Fonts-->
    <link href="http://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700ii%7CMerriweather:300,300i,400,400i,700,700i,900,900i" rel="stylesheet" type="text/css"/>
    <!-- Stylesheets-->
    <link href="{{ url_for('static', filename='css/vendor.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"/>
    <!-- 
    Document Title
    ============================================= 
    -->
    <title>{% block title %} | Remessa Online{% endblock %}</title>
  </head>
  <body class="body-scroll">
    <!--  
    Document Wrapper
    =============================================  
    -->
    <div class="wrapper clearfix" id="wrapper">
      <!--   
      Header
      =============================================  
      -->
      <header class="header header-1 header-transparent header-bordered header-fixed" id="navbar-spy">
        <nav class="navbar fixed-top navbar-expand-lg" id="primary-menu"> 
          <div class="container"> 
            <div class="navbar-header"><a class="logo" href="index.html"><img class="logo-dark" src="{{url_for('static', filename='images/logo/logo-dark.png')}}" alt="appy Logo"/><img class="logo-light" src="{{url_for('static', filename='images/logo/logo-light.png')}}" alt="appy Logo"/></a>
              <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false"><span class="navbar-toggler-icon"></span></button>
            </div>
            <!--div class="collapse navbar-collapse float-right" id="navbar-collapse-1">
              <ul class="nav navbar-nav nav-pos-right nav-split">
                <li class="nav-item active"><a class="nav-link" data-scroll="scrollTo" href="#slider">Ebook: Investir Nos Estados Unidos É Mais Fácil Do Que Você Pensa</a></li-->
                <!--li class="nav-item"><a class="nav-link" data-scroll="scrollTo" href="#feature2">feature</a></li>
                <li class="nav-item"><a class="nav-link" data-scroll="scrollTo" href="#banner">author</a></li>
                <li class="nav-item"><a class="nav-link" data-scroll="scrollTo" href="#reviews">reviews</a></li>
                <li class="nav-item"><a class="nav-link" data-scroll="scrollTo" href="#pricing">pricing</a></li>
                <li class="nav-item"><a class="nav-link" data-scroll="scrollTo" href="#cta">download</a></li>
              </ul>
            </div-->
            <!-- End .nav-collapse-->
          </div>
        </nav>
      </header>
      
{% block content %}

{% endblock %}

      <!-- 
      Footer #5
      ============================================= 
      -->
      <footer class="footer footer-5" id="footer">
        <!-- 
        Copyrights
        =============================================  
        -->
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-12 col-lg-12 text--center">
              <div class="footer--copyright"><span>&copy; 2020 EBO, crafted With <i class="fas fa-heart"></i> by </span><a href="http://themeforest.net/user/zytheme/portfolio?ref=zytheme">zytheme.com</a></div>
            </div>
          </div>
        </div>
        <!-- End .container  -->
      </footer>
    </div>
    <!-- End #wrapper   -->
    <!-- 
    Footer Scripts
    =============================================  
    -->
    <script src="{{url_for('static',filename='js/vendor/jquery-3.4.1.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/vendor.js')}}"></script>
    <script src="{{url_for('static',filename='js/functions.js')}}"></script>
  </body>
</html>